[submodule "lib/micropython"]
	path = lib/micropython
	url = https://github.com/micropython/micropython
	branch = tags/v1.26.0
[submodule "lib/dmon"]
	path = lib/dmon
	url = https://github.com/gadgetoid/dmon
